<p id="notice"><%= notice %></p>

<h1>Breweries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.location %></td>
        <td><%= brewery.description %></td>
        <td><%= link_to 'Show', brewery %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

