<p id="notice"><%= notice %></p>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %> 
  <%= link_to "Sign in", new_user_session_path, method: :get %>
  <% end %>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>