<!DOCTYPE html>

<!-- Début html -->

<html>
<head>
<title>KAPSKET</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../TEST2/style.css">
<link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
  
<%= render 'layouts/header' %>

<body>

<div class="Menu1">
<ul id="naviguation">

<li><%= link_to "Produits", products_path %></li>
<li><%= link_to "À propos", about_index_path %></li>
<li><%= link_to "Contact", contact_index_path %></li>

</ul>
</div>

<center><div class="separateur_noir1"></div>
<div class="separateur_noir2"></div></center>

<!-- Menu 2 -->

<div class="Menu2">

  <ul>
    <li><%= link_to "All", products_path, remote: true %></li>
    <li><%= link_to "Casquettes", products_path, remote: true %></li>
    <li><%= link_to "Bonnets", products_path, remote: true %></li>
    <li><%= link_to "Bobs", products_path, remote: true %></li>
  </ul>

</div>

    <% @products.each do |product| %>
        <%if product.photos.attached?%>
        <% (0...product.photos.count).each do |photo| %>
        <div class="d-flex justify-content-between">
        <div class="card p-2" style="width: 20rem;">
        <%= image_tag(product.thumbnail(photo)) %>
        <% end %>
        <% end %>
        <%= link_to "#{product.name}", product %>
        </div>
        </div>
    <% end %>
	
</body>


<%= render 'layouts/footer' %>


</html>



