  
<%= render 'layouts/header' %>

<body>

<div class="Menu1">
<ul id="naviguation">

<li><%= link_to "Produits", products_path %></li>
<li><%= link_to "À propos", about_index_path %></li>
<li><%= link_to "Contact", contact_index_path %></li>

</ul>
</div>

<center><div class="separateur_noir1"></div>
<div class="separateur_noir2"></div></center>

<!-- Menu 2 -->

<div class="Menu2">

  <%# <ul>
    <li><%= link_to "All", products_path, remote: true %></li>
    <%# <li><%= link_to "Casquettes", products_path, remote: true %></li>
    <%# <li><%= link_to "Bonnets", products_path, remote: true %></li> 
    <%# <li><%= link_to "Bobs", products_path, remote: true %></li>
  <%# </ul>  %>
    <div class="d-flex">
      <% @products.each do |product| %>
        <%if product.photos.attached?%>
          <div class="d-flex justify-content-around p-2 "> 
            <div class="d-flex card p-2" style="width: 20rem">
              <%= image_tag(product.photos[0])%>
              <%= link_to "#{product.name}", product %> 
        <% end %>
          </div>
            </div>
      <% end%>
    </div>
  </div>

</body>


<%= render 'layouts/footer' %>


</html>


