<!DOCTYPE html>

<!-- Début html -->

<html>
<head>
<title>KAPSKET</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../TEST2/style.css">
<link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
  
<%= render 'layouts/header' %>

<body>

<div class="Menu1">
<ul id="naviguation">

<li><%= link_to "Produits", products_path %></li>
<li><%= link_to "À propos", about_index_path %></li>
<li><%= link_to "Contact", contact_index_path %></li>

</ul>
</div>

<center><div class="separateur_noir1"></div>
<div class="separateur_noir2"></div></center>

<!-- Menu 2 -->

<div class="Menu2">

<ul>
	<li><%= link_to "All", products_path, remote: true %></li>
  <li><%= link_to "Casquettes", products_path, remote: true %></li>
	<li><%= link_to "Bonnets", products_path, remote: true %></li>
	<li><%= link_to "Bobs", products_path, remote: true %></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	
</div></body> <br />



<!-- debut footer-->

 <footer>
          <div class="row">
            <a href="https://www.facebook.com" class="form-social" target="_blank" style="background-image: url('../TEST2/IMG/facebook.jpg')"></a>
            <a href="https://www.instagram.com" class="form-social" target="_blank" style="background-image: url('../TEST2/IMG/instagram.jpg')"></a> 
            </div>

        <center>
        <small class="text">Copyright © 2020 Kapsket. All rights reserved.</small>
      </center>
</footer>

    <!-- Fin footer -->

</body>

</html>



