<%= render 'layouts/header' %>
<container>
<div class="product_info">
  <%= @product.name %>
</div>

<div class="product_info3">
  <%= @product.description %>  
</div>

<div class="product_photo">
<%if @product.photos.attached?%>
 <% (0...@product.photos.count).each do |photo| %>
    <%= image_tag(@product.thumbnail(photo)) %>
<% end %>
<% end %>
</div>

<div class="product_info2">
  <div class="price"><%= @product.price%>€</div>
  <div class="pay_button"><%= link_to 'Add to Cart', line_items_path(product_id: @product), method: :post ,  class:'btn btn m-0'%></div>
</div>

<br></br>

</container>

<%= render 'layouts/footer' %>
