<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<h3>Current Pictures</h3>
<%if @product.photos.attached?%>
 <% @product.photos.each do |photo| %>
    <%= image_tag(photo) %>
<% end %>
 
<%else%>

  <p>=== Il n'y a pas encore de photos liées à ce produit ===</p>

  <% end %>
  
  <%= current_or_guest_user.id %>
  <%= session.to_hash %>

 <%= link_to 'Add to cart', line_items_path(product_id: @product.id), method: :post %>

<br></br>

<%= link_to 'Back', products_path %>
