<%= render 'layouts/header' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<h3>Current Pictures</h3>
<%if @product.photos.attached?%>
 <% (0...@product.photos.count).each do |photo| %>
    <%= image_tag(@product.thumbnail(photo)) %>
<% end %>
 
<%else%>

  <p>=== Il n'y a pas encore de photos liées à ce produit ===</p>

<% end %>

<br></br>

<%= button_to 'Ajouter au Panier', line_items_path(product_id: @product)%>

<%= link_to 'Back', products_path %>

<%= render 'layouts/footer' %>
