 <footer>
<div class="footer-back">
        <div class="social">
          <div class="row">
            <a href="https://www.facebook.com" class="form-social" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" class="form-social" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com" class="form-social" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com" class="form-social" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
        <center>
        <% if current_user %>
        <%= print("current_user")%>
        <%= puts(current_user)%>
        <%elsif guest_user%>
        <%= print("guest_user")%>
        <%= puts(guest_user)%>
        <% else %>
        <%= print("fuck that shit")%>
        <%end%>
        <small class="text">Copyright © 2020 Kapsket. All rights reserved.</small>
        </center>
</footer>