 <footer>
<div class="footer-back">
        <div class="social">
          <div class="row">
            <a href="https://www.facebook.com" class="form-social" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" class="form-social" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com" class="form-social" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com" class="form-social" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
        <center>
        <p> guest session<%= @guest_session = session[:guest_user_id] %></p>
        <p> cart session <%= @session2 = session[:cart_id] %></p>
        </br>
        <%# <p>current user <%= current_user%></p> %>
        <%# <p> ID <%= current_user.id %></p> %>
        <%# <p> email <%= current_user.email %></p> %>
        <%# <p> <%= current_user == true %></p> %>
        </br>
        </br>
        <p>guest user<%= guest_user%></p>
        <p>ID <%= guest_user.id %></p>
        <p> email <%= guest_user.email %></p>
        <bold></bold>
        <small class="text">Copyright © 2020 Kapsket. All rights reserved.</small>
        </center>
</footer>