<header>
        <div class="d-flex ">
            <div class="d-flex justify-content-start p-2">
            <nav>
            <a id="sticky" class="openbtn" onclick="openNav()"><i class="fas fa-chevron-right"></i></a>
            <div id="mySidenav" class="sidenav">
        
            <a class="closebtn" style="color: white" onclick="closeNav()">&times;</a>

            <% if user_signed_in? %>
            <a href="/mon_profil">Profil</a>
            <hr>
            <%= link_to "Mon Panier", cart_path(id: current_or_guest_user.cart.id), method: "get"%>
            <hr>
            <a href="<%= products_path %>">Accueil</a>
            <hr>
            <a href="<%= destroy_user_session_path %>" data-method="delete">Se déconnecter</a>
            <hr>
            <a href="mailto:youremailaddress">Contact&nbsp;&nbsp;<i class="far fa-envelope"></i></a>
            <hr>

            <% else %>
            <a href="<%= new_user_session_path %>">Se connecter</a>
            <hr>
            <a href="<%= new_user_registration_path %>">S'inscrire</a>
            <hr>
            <a href="<%= products_path %>">Acceuil</a>
            <hr>
            <a href="mailto:youremailaddress">Contact&nbsp;&nbsp;<i class="far fa-envelope"></i></a>
            <hr>
            <% end %>
            </div>
            </nav>
            </div>
            <div class="d-flex justify-content-end material-icons ml-auto p-2" style="float: right*;"> <a href="#">shopping_cart</a></div>

            </div>


        

        <div class="d-flex justify-content-center titre"><%= link_to "KAPSKET", products_path, method: :get %></div>
</header> 
